li{
    list-style-type: none;
    cursor: pointer;
}

nav{
    position: fixed;
    top: 40%;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 10px;
        transition: 1s;
        color: #234F1E;
        font-size: 20px;
        max-width: fit-content;
        
        mat-icon{ font-size: 40px; width: 40px; height: 40px;}
    }
    li:hover{
        width: 165px;
        max-width: fit-content;
        transition: 1s;
    }
}

