<nav>
    <li (click)="this.scrollToSection('#section1')">
        <mat-icon [class]="home? 'material-icons': 'material-icons-outlined'">home_outline</mat-icon>
        <span>Home</span>
    </li>

    <li (click)="this.scrollToSection('#section2')">
        <mat-icon [class]="team? 'material-icons large': 'material-icons-outlined'">group</mat-icon>
        <span>Equipe</span>
    </li>

    <li (click)="this.scrollToSection('#section3')">
        <mat-icon [class]="content? 'material-icons': 'material-icons-outlined'">auto_stories</mat-icon>
        <span>Behaviorismo</span>
    </li>
</nav>