<div class='container'>
    <div class='timeline'></div>
    <li>
        <mat-card class="card">
            <mat-card-title>O que é Behaviorismo?</mat-card-title>
            <mat-card-content>
              <p>
                O behaviorismo propõe o comportamento publicamente observável como objeto de estudo da psicologia.
              </p>
            </mat-card-content>
          </mat-card>
    </li>
    
    <li>
        <mat-card class="card">
            <mat-card-title>O que é Behaviorismo?</mat-card-title>
            <mat-card-content>
              <p>
                O behaviorismo propõe o comportamento publicamente observável como objeto de estudo da psicologia.
              </p>
            </mat-card-content>
          </mat-card>
    </li>

    <li>
        <mat-card class="card">
            <mat-card-title>O que é Behaviorismo?</mat-card-title>
            <mat-card-content>
              <p>
                O behaviorismo propõe o comportamento publicamente observável como objeto de estudo da psicologia.
              </p>
            </mat-card-content>
          </mat-card>
    </li>

    <li>
        <mat-card class="card">
            <mat-card-title>O que é Behaviorismo?</mat-card-title>
            <mat-card-content>
              <p>
                O behaviorismo propõe o comportamento publicamente observável como objeto de estudo da psicologia.
              </p>
            </mat-card-content>
          </mat-card>
    </li>

    <li>
        <mat-card class="card">
            <mat-card-title>O que é Behaviorismo?</mat-card-title>
            <mat-card-content>
              <p>
                O behaviorismo propõe o comportamento publicamente observável como objeto de estudo da psicologia.
              </p>
            </mat-card-content>
          </mat-card>
    </li>
</div>