li{
    list-style: none;
    float: left;
    clear: both;
}
li:nth-child(2n-1){
    float: right;
    clear: both;
}

mat-progress-bar{
    transform: rotate(90deg) translateX(50vh);
    max-width: calc(100vh - 5%);

    ::ng-deep .mat-progress-bar-fill::after{
        background-color: #234F1E;
    }
}
.container{
    position: relative;
    padding: 20px 10%;
    
}

.card {
    max-width: 400px;
    border: 4px solid #FFFFCC;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.3);

    mat-card-title{
        text-align: center;
        color: #234F1E;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
        letter-spacing: .5px;
        border-bottom: 1px solid rgba(35, 79, 30, 0.5);
    }

    mat-card-content{
        color: #666;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        text-align: left;
        padding: 0 20px;
        margin: 0;
    }
}