.container{
    padding: 5% 0px;
    text-align: center;
}

h1{
    font-size: 40px;
    color: #234F1E;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    .mat-card-image{
        width: 95%;
    }
}

.example-card {
    max-width: 400px;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
  
.example-header-image {
    background-image: url('../../../assets/logo.png');
    background-size: cover;
}